<!-- Inheriting from base.html -->
{% extends 'appTwo/base.html' %}
<!-- loading static for the css file -->
{% load static %}
<!DOCTYPE html>

{% block body_block %}
  <div class="container">

    <div class="jumbotron">

      {% if registered %}
        <h1>Thanks for signing up!</h1>
      {% else %}
      <!-- Getting the user to sign the form -->
        <h1>Signup Here!</h1>
        <h5>By signing up, we will provide you with a user account enabling you to book appointments</h5>
    <!-- We need to add this here so that the image uploading can work -->
        <form method="POST">
          <p>the information you put here will not be shared with anyone</p>
          <!-- context variable for: username, email and password -->
          {{ client_form1.as_p }}
          <!-- context variable for: date and phone_number -->
          {{ client_form2.as_p }}
          <!-- for django security -->
          {% csrf_token %}
          <input type="Submit" name="but" class="btn btn-primary btn-lg" value="Submit">
        </form>

      {% endif %}

    </div>
  </div>
{% endblock %}
